// Colour
$colour-blue: #002C5B;
$colour-grey: #868990;
$colour-white: #FFF;
$colour-black: #000;
$colour-light-blue: #00B4D9;

// Sector Colours

$colour-nursing: #EA6B86;
$colour-allied-health: #00B4D9;
$colour-psych-therapies: #008DA8;

$colour-health-science: #AC161C;
$colour-psych-doctors: #935DA8;
$colour-acute-doctors: #4B5865;

$colour-social-work: #4FB94B;
$colour-healthcare-exec: #7B706C;
$colour-childcare: #9D0047;