// layout

@import "colours";

.top-bar {
    a {
        color: $colour-white;
    }
}

.secondary {
    font-size: 14px;

    @include breakpoint(medium up) {
        .submenu-item {
            display: none;
        }
    }

    @include breakpoint(small only) {
        .submenu-item {
            margin-left: 2rem;
        }
    }
}

.primary {
    text-transform: uppercase;
}

.banner {
    background-color: lightgrey; // added to make it less bland

    img {
        height: 10rem;
        padding: 1rem;
    }
}

.logo, .links
{
    display: inline-block
}

.links {
    @include breakpoint(medium up) {
        margin-left: 20%;
        width: 50rem;
    }

    .links-list {
        @include breakpoint(medium up) {
            a {
                color: $colour-black;
            }
        }
    }

    .links-title {
        text-transform: capitalize;
    }
}

header {
    background: $colour-blue;
    color: $colour-white;
    padding: 1rem 5rem 2rem 1rem;
}

.people-perfectly-placed {
    h1 {
        color: $colour-blue;
        padding: 1rem;
        font-family: $font-family-fsmatthew-bold;
    }
}

.medium-right {
        @include breakpoint(medium up) {
            text-align: right;
        }

    div {
        display: inline-block;
    }
}

.button {
    padding: 0.5rem;
    border-color: $colour-white !important;
}

.bordered {
    @include breakpoint(medium up) {
        border-radius: 0.25rem; // 4px
        border: solid 1px white;
    }
}

.spacer {
    @include breakpoint(small only) {
        border-bottom: solid 1px $colour-light-blue;
    }
    @include breakpoint(medium up) {
        padding: 0.5rem;
    }
}

.hidden {
    display: none;
}

.search-jobs {

    h3 {
        border-bottom: solid $colour-light-blue 1px;
        font-family: $font-family-fsmatthew-medium;
        width: 7.5rem;
    }

    @include breakpoint(small only) {
        border-bottom: solid 1px $colour-light-blue;
        padding: 1rem;
        h3 {
            color: $colour-white;
        }
    }

    @include breakpoint(medium up) {
        background: $colour-white;
        border: solid 1px $colour-light-blue;
        border-radius: 0.25rem;
        max-width: 20rem;
        position: absolute;
        top: 10rem;
        right: 5rem;
    }
}