// squares
.squares {
    max-width: 30rem;
    > div {

        > div {
            text-transform: uppercase;
            text-align: center;

            div {
                border-radius: 1rem;
                border: solid black 0.25rem;
                margin: 0.275rem;
                padding-top: 1.5rem;
                height: 5rem;

                &.nursing {
                    border-color: $colour-nursing;
                    background-color: $colour-nursing;
                    color: $colour-white;
                }

                &.therapies {
                    border-color: $colour-psych-therapies;
                    color: $colour-psych-therapies;
                }

                &.health {
                    border-color: $colour-allied-health;
                    color: $colour-allied-health;
                    padding: 0.5rem;
                }

                &.executive {
                    border-color: $colour-healthcare-exec;
                    color: $colour-healthcare-exec;
                }

                &.social-work {
                    border-color: $colour-social-work;
                    color: $colour-social-work;
                }

                &.health-sciences {
                    border-color: $colour-health-science;
                    color: $colour-health-science;
                }

                &.doctors {
                    border-color: $colour-psych-doctors;
                    color: $colour-psych-doctors;
                }

                &.acute-doctors {
                    border-color: $colour-acute-doctors;
                    color: $colour-acute-doctors;
                    padding: 0.5rem;
                }

                &.child-care {
                    border-color: $colour-childcare;
                    color: $colour-childcare;
                }
            }
        }
    }
}