// Fonts
// -------------------------

@font-face {
    font-family: 'fsmatthew-medium';
    src: url('../fonts/FSMatthew-Medium.otf');
}

@font-face {
    font-family: 'fsmatthew-bold';
    src: url('../fonts/FSMatthew-Bold.otf');
}

@font-face {
    font-family: 'fsmatthew-light';
    src: url('../fonts/FSMatthew-Light.otf');
}

$font-family-fsmatthew-light: 'fsmatthew-light';
$font-family-fsmatthew-bold: 'fsmatthew-bold';
$font-family-fsmatthew-medium: 'fsmatthew-medium';