<div class="title-bar" data-responsive-toggle="cta-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="cta-menu"></button>
</div>

<div class="top-bar" id="cta-menu">
    <div class="top-bar-right">
        <div class="medium-align-right">
            <ul class="dropdown vertical medium-horizontal menu primary medium-text-right" data-dropdown-menu>
                <li> <a class="bordered" href="#" id="search-button">Search Jobs</a> </li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="spacer"></div>
        <aside class="search-jobs hidden" id="search-jobs">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell">
                    <h3>Search Jobs</h3>
                </div>
                <div class="small-12 cell">
                    <input type="text" placeholder="Job Title">
                </div>
                <div class="small-12 cell">
                    <input type="text" placeholder="Location">
                </div>
                <div class="auto cell align-left">
                    <a class="button" id="search-jobs">Find Jobs</a>
                </div>
            </div>
        </aside>
        <ul class="menu vertical medium-horizontal secondary">
            <li><a href="/">Home</a></li>
            <li><a id="candidates">Candidates</a></li>
            <li><a id="clients">Clients</a></li>
            <li><a id="news">News</a></li>
            <li><a id="about-us">About Us</a></li>
            <li><a id="contact">Contact</a></li>
        </ul>
    </div>
</div>
<section class="banner">
    <div class="logo hide-for-small-only">
        <img src="{{root}}assets/img/logo.png" alt="M3 Logo">
    </div>
    <div class="links medium-align-right hide-for-small-only">
        <div class="row-one grid-x">
            <div class="cell">
                <h3 class="links-title"></h3>
            </div>
        </div>
        <div class="links-list grid-x grid-padding-x small-up-1 medium-up-3">
        </div>
    </div>
</section>
<section class="people-perfectly-placed">
    <div class="cell">
        <h1>People perfectly placed</h1>
    </div>
    <div>
        <div class="squares">
            <div class="row-one grid-x">
                <div class="cell small-3"><div class="nursing">Nursing</div></div>
                <div class="cell small-6"><div class="therapies">Psychological Therapies</div></div>
                <div class="cell small-3"><div class="health">Allied Health</div></div>
            </div>
            <div class="row-two grid-x">
                <div class="cell small-3"><div class="executive">Executive</div></div>
                <div class="cell small-3"><div class="social-work">Social Work</div></div>
                <div class="cell small-6"><div class="health-sciences">Health Sciences</div></div>
            </div>
            <div class="row-three grid-x">
                <div class="cell small-6"><div class="doctors">Psychiatry Doctors</div></div>
                <div class="cell small-3"><div class="acute-doctors">Acute Doctors</div></div>
                <div class="cell small-3"><div class="child-care">Child Care</div></div>
            </div>
        </div>
    </div>
</section>